@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<div class="well">
    <h3>@ViewData["Message"]</h3>
    <p>A sample project demonstrating how to handle long operations while the user can still navigate across other parts of the application. The application is based on aspnet core 1.1 and uses an in-memory session to keep track of long running operations. There is still room for lots of improvements, but it is a proof of concept and can generalized based upon specific needs and requirements. </p>    
</div>

