@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Developer:</strong> <a href="mailto:me.shahidali@hotmail.com">me.shahidali@hotmail.com</a><br />
</address>
