<?xml version="1.0" encoding="utf-8"?>
<!--<log4net debug="true">-->
<log4net>
  <appender name="RollingFile" type="log4net.Appender.FileAppender">
    <file value="app.log" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %d{dd-MM-yyyy hh:mm:ss} %class %method %message%newline" />
    </layout>
    <!--<layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
    </layout>-->
  </appender>

  <appender name="ADONetAppender" type="LongRunningActions.LogForNet.AdoNetAppender, LongRunningActions">
    <bufferSize value="1" />
    <param name="UseTransactions" value="false" />
    <!--<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />-->
    <connectionString value="Data Source=.;Initial Catalog=intro;Integrated Security=SSPI" />
    <commandText value="INSERT INTO Log4Net ([Date],[Thread],[Level],[Logger],[Message],[Class],[Method],[Exception],[AppID]) VALUES (@log_date, @thread, @log_level, @logger, @message,@aclass,@method,@exception,777)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout" value="%thread" />
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="20" />
      <layout type="log4net.Layout.PatternLayout" value="%level" />
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="1000" />
      <layout type="log4net.Layout.PatternLayout" value="%logger" />
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout" value="%message" />
    </parameter>
    <parameter>
      <parameterName value="@aclass" />
      <dbType value="String" />
      <size value="1000" />
      <layout type="log4net.Layout.PatternLayout" value="%class" />
    </parameter>
    <parameter>
      <parameterName value="@method" />
      <dbType value="String" />
      <size value="500" />
      <layout type="log4net.Layout.PatternLayout" value="%method" />
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout" value="%exception" />
    </parameter>
  </appender>

  <appender name="GelfUdpAppender" type="Gelf4Net.Appender.GelfUdpAppender, Gelf4Net">
    <remoteAddress value="127.0.0.101" />
    <remotePort value="12201" />
    <layout type="Gelf4Net.Layout.GelfLayout, Gelf4Net">
      <param name="AdditionalFields" value="app:Welcome2017,version:1.0,Environment:Dev,Level:%level" />
      <param name="Facility" value="RandomPhrases" />
      <param name="IncludeLocationInformation" value="true" />
    </layout>
  </appender>


  <root>
    <level value="ALL" />
    <appender-ref ref="RollingFile" />
    <!--<appender-ref ref="ADONetAppender" />-->
    <!--<appender-ref ref="GelfUdpAppender" />-->
  </root>
</log4net>

<!--CREATE TABLE [dbo].[Log4Net] (
[ID] [int] IDENTITY (1, 1) NOT NULL ,
[Date] [datetime]  NULL ,
[Thread] [nvarchar] (255)  NULL ,
[Level] [nvarchar] (20)  NULL ,
[Logger] [nvarchar] (255) NULL ,
[Message] [nvarchar] (4000) NULL ,
[Class] [nvarchar] (1000) NULL ,
[Method] [nvarchar] (500) NULL ,
[Exception] [nvarchar] (4000) NULL ,
[AppID] [int] NULL

) ON [PRIMARY]-->